.login
{
    border: 1px snow;
    float:right;
    background-color: black;
    margin-top: 60px;
    margin-right: 30px;
    width:16cm;
    padding:30px;
}
#btn{
    background-color: rgb(28, 71, 43);
    width:100%;
    color: beige;
    border:none;
    height:8%;

}
.login{
    text-align: center;
}